body {
    font-family: Calibri;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}

.buttons{
    font-family: Sans;
}
.buttons > a{
    text-decoration: none;
    color: #000 !important;
}

.row2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    /*opacity: 0;*/
    margin: 0;
    padding: 0;
}

.modal:target {
    opacity: 1;
}

.modalWindow{
    position: relative;
    /*width: auto;
    margin: 10px;*/
    max-width: 500px;
    margin: 30px auto;
}

.mainContent {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modalTitle{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 30px;
    font-weight: 500;
}

.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.body {
    position: relative;
    padding: 15px;
  }